<div class="collapse show" id="collapseExample">
 
   <%=render "news"%>
  
</div>

<div class="row justify-content-center">
<div class="col text-center">  
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Chat
  </a> 
  </div>
</div>
<%=render "chat"%>
